<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>93847086123-1km5nosnhrru4h14gtv667v197unen80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93847086123-1km5nosnhrru4h14gtv667v197unen80</string>
	<key>API_KEY</key>
	<string>AIzaSyDxoWtHW3WhoX6AbyA-s_lksGEDODBDX6c</string>
	<key>GCM_SENDER_ID</key>
	<string>93847086123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FireApps.SM-Schedule</string>
	<key>PROJECT_ID</key>
	<string>sm-schedule-c356a</string>
	<key>STORAGE_BUCKET</key>
	<string>sm-schedule-c356a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:93847086123:ios:02a6d275caf386d0</string>
	<key>DATABASE_URL</key>
	<string>https://sm-schedule-c356a.firebaseio.com</string>
</dict>
</plist>